{:highlights [{:id #uuid "67334806-5c9f-4828-9cd1-c08723b3ebc0",
               :page 1,
               :position {:bounding {:x1 128.77604562044144,
                                     :y1 594.0321044921875,
                                     :x2 234.5865314602852,
                                     :y2 604.21728515625,
                                     :width 492,
                                     :height 695.189352692075},
                          :rects ({:x1 128.77604562044144,
                                   :y1 594.0321044921875,
                                   :x2 234.5865314602852,
                                   :y2 604.21728515625,
                                   :width 492,
                                   :height 695.189352692075}),
                          :page 1},
               :content {:text "Dienstag, 3. Dezember 2024"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
