{:highlights [{:id #uuid "67323579-5fd7-4602-9ea0-7ca860c87a91",
               :page 1,
               :position {:bounding {:x1 208.4022216796875,
                                     :y1 291.015625,
                                     :x2 298.23486328125,
                                     :y2 303.015625,
                                     :width 580,
                                     :height 819.53216374269},
                          :rects ({:x1 208.4022216796875,
                                   :y1 291.015625,
                                   :x2 298.23486328125,
                                   :y2 303.015625,
                                   :width 580,
                                   :height 819.53216374269}),
                          :page 1},
               :content {:text "ine kurze Einführung"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
